## Reading The Data

In [136]:
import pandas as pd

In [137]:
weather = pd.read_csv('Weather_dataset.csv', index_col="DATE")

In [138]:
weather

,STATION,NAME,ACMH,ACSH,AWND,DAPR,FMTM,FRGT,MDPR,PGTM,...,WT01,WT02,WT03,WT04,WT05,WT07,WT08,WT09,WT16,WT18
DATE,,,,,,,,,,,,,,,,,,,,,
1960-01-01,USW00023230,"OAKLAND INTERNATIONAL AIRPORT, CA US",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1960-01-02,USW00023230,"OAKLAND INTERNATIONAL AIRPORT, CA US",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN
1960-01-03,USW00023230,"OAKLAND INTERNATIONAL AIRPORT, CA US",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1960-01-04,USW00023230,"OAKLAND INTERNATIONAL AIRPORT, CA US",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1960-01-05,USW00023230,"OAKLAND INTERNATIONAL AIRPORT, CA US",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-07-19,USW00023230,"OAKLAND INTERNATIONAL AIRPORT, CA US",NaN,NaN,8.28,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN
2024-07-20,USW00023230,"OAKLAND INTERNATIONAL AIRPORT, CA US",NaN,NaN,9.40,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN
2024-07-21,USW00023230,"OAKLAND INTERNATIONAL AIRPORT, CA US",NaN,NaN,8.28,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2024-07-22,USW00023230,"OAKLAND INTERNATIONAL AIRPORT, CA US",NaN,NaN,7.16,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2024-07-23,USW00023230,"OAKLAND INTERNATIONAL AIRPORT, CA US",NaN,NaN,7.16,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Preparing The Data

In [140]:
weather.apply(pd.isnull).sum()/weather.shape[0]

STATION    0.000000
NAME       0.000000
ACMH       0.671076
ACSH       0.671076
AWND       0.495694
DAPR       0.999550
FMTM       0.876738
FRGT       0.999887
MDPR       0.999550
PGTM       0.520910
PRCP       0.015985
SNOW       0.359487
SNWD       0.352507
TAVG       0.885349
TMAX       0.000619
TMIN       0.000788
TSUN       0.935217
WDF1       0.671076
WDF2       0.495638
WDF5       0.500647
WDFG       0.759836
WSF1       0.671076
WSF2       0.495582
WSF5       0.500647
WSFG       0.759836
WT01       0.776439
WT02       0.980301
WT03       0.992458
WT04       0.999775
WT05       0.998368
WT07       0.999887
WT08       0.817077
WT09       0.999887
WT16       0.889965
WT18       0.999831
dtype: float64

In [141]:
core_weather = weather[["PRCP", "SNOW", "SNWD", "TMAX", "TMIN"]].copy()

In [142]:
core_weather.columns = ['precip', 'snow', 'snow_depth', 'temp_max', 'temp_min']

In [143]:
core_weather

            precip  snow  snow_depth  temp_max  temp_min
DATE
1960-01-01     0.0   0.0         0.0      49.0      30.0
1960-01-02     0.0   0.0         0.0      49.0      29.0
1960-01-03     0.0   0.0         0.0      54.0      35.0
1960-01-04     0.0   0.0         0.0      54.0      36.0
1960-01-05     0.0   0.0         0.0      55.0      33.0
...            ...   ...         ...       ...       ...
2024-07-19     0.0   NaN         NaN      84.0      56.0
2024-07-20     0.0   NaN         NaN      73.0      59.0
2024-07-21     0.0   NaN         NaN      66.0      58.0
2024-07-22     0.0   NaN         NaN      77.0      57.0
2024-07-23     0.0   NaN         NaN      84.0      60.0

[17767 rows x 5 columns]

Filling in missing values

In [145]:
core_weather.apply(pd.isnull).sum()/core_weather.shape[0]

precip        0.015985
snow          0.359487
snow_depth    0.352507
temp_max      0.000619
temp_min      0.000788
dtype: float64

In [146]:
core_weather['snow'].value_counts()

snow
0.0    11379
1.0        1
Name: count, dtype: int64

In [147]:
core_weather['snow_depth'].value_counts()

snow_depth
0.0    11504
Name: count, dtype: int64

So in all of the historical data from 1960 there was only one day where it snowed.

In [149]:
core_weather = core_weather.drop(columns=['snow', 'snow_depth'])

In [150]:
core_weather

            precip  temp_max  temp_min
DATE
1960-01-01     0.0      49.0      30.0
1960-01-02     0.0      49.0      29.0
1960-01-03     0.0      54.0      35.0
1960-01-04     0.0      54.0      36.0
1960-01-05     0.0      55.0      33.0
...            ...       ...       ...
2024-07-19     0.0      84.0      56.0
2024-07-20     0.0      73.0      59.0
2024-07-21     0.0      66.0      58.0
2024-07-22     0.0      77.0      57.0
2024-07-23     0.0      84.0      60.0

[17767 rows x 3 columns]

In [151]:
core_weather[pd.isnull(core_weather['precip'])]

            precip  temp_max  temp_min
DATE
1983-10-29     NaN      67.0      57.0
1983-10-30     NaN      70.0      63.0
1983-10-31     NaN      69.0      61.0
1983-11-12     NaN      63.0      55.0
1983-11-13     NaN      60.0      50.0
...            ...       ...       ...
2016-05-08     NaN      67.0      56.0
2017-10-28     NaN      68.0      50.0
2023-03-29     NaN      52.0      43.0
2023-12-06     NaN      61.0      47.0
2023-12-29     NaN      63.0      55.0

[284 rows x 3 columns]

In [152]:
core_weather.loc["1983-10-20":"1983-11-05",:]

            precip  temp_max  temp_min
DATE
1983-10-20    0.00      73.0      52.0
1983-10-21    0.00      70.0      50.0
1983-10-22    0.00      70.0      50.0
1983-10-23    0.00      69.0      60.0
1983-10-24    0.00      73.0      58.0
1983-10-25    0.00      75.0      53.0
1983-10-26    0.00      79.0      53.0
1983-10-27    0.00      82.0      56.0
1983-10-28    0.00      74.0      56.0
1983-10-29     NaN      67.0      57.0
1983-10-30     NaN      70.0      63.0
1983-10-31     NaN      69.0      61.0
1983-11-01    0.26      69.0      60.0
1983-11-02    0.06      68.0      56.0
1983-11-03    0.00      68.0      56.0
1983-11-04    0.00      67.0      55.0
1983-11-05    0.00      66.0      51.0

In [153]:
# checking the most occuring value
core_weather['precip'].value_counts()

precip
0.00    14429
0.01      445
0.02      205
0.03      126
0.05      105
        ...
3.58        1
1.92        1
1.77        1
5.01        1
1.28        1
Name: count, Length: 179, dtype: int64

In [154]:
#replacing missing percepitation values with Zero
core_weather['precip'] = core_weather['precip'].fillna(0)

In [155]:
core_weather.apply(pd.isnull).sum()/core_weather.shape[0]

precip      0.000000
temp_max    0.000619
temp_min    0.000788
dtype: float64

In [156]:
core_weather[pd.isnull(core_weather['temp_max'])]

            precip  temp_max  temp_min
DATE
2004-11-20     0.0       NaN       NaN
2013-06-16     0.0       NaN       NaN
2019-04-18     0.0       NaN      50.0
2019-04-21     0.0       NaN      52.0
2019-04-22     0.0       NaN      50.0
2020-08-29     0.0       NaN       NaN
2020-09-08     0.0       NaN       NaN
2020-09-09     0.0       NaN       NaN
2021-10-31     0.0       NaN      56.0
2022-10-08     0.0       NaN       NaN
2022-10-09     0.0       NaN       NaN

In [158]:
core_weather = core_weather.fillna(method='ffill')

C:\Users\minam\AppData\Local\Temp\ipykernel_22644\1266411444.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  core_weather = core_weather.fillna(method='ffill')

In [159]:
core_weather.apply(pd.isnull).sum()/core_weather.shape[0]

precip      0.0
temp_max    0.0
temp_min    0.0
dtype: float64